<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" href="style.css">
</head>

<body>

<div id="title_container">
	<div id="account_container"></div>
	<div id="settings_container"></div>
	
	<h1 id="title">Resturaunt Title</h1>
</div>

<div id="nav_container">
	<button class="option">Payslips</button>
	<button class="option">Training</button>
	<button class="option">Performance</button>
	<button class="option">Calendar</button>
	<button class="option">Announcements</button>
</div>

<div id="feed_container">
	<div class="message_template">
		<div class="name_container">Poster Name</div>
		<div class="title_container">Title</div>
		<div class="message_container">Sample Message</div>
	</div>
</div>

</body>

</html>