/*General CSS*/

head {
	
}

html, body {
	height: 100%;
}

#main {
	display: block;
	transition: 0.5s;
	margin: auto;
}

/* Tool Bar */

#tools {
	width: 100%;
	margin-top: 40px !important;
	background: white;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	margin: auto;
}

#create {
	width: 100px;
}

#popup {
	display: none;
	margin-top: 20px;
	text-align: center;
	transition: fade-in;
}

#title {
	width: 500px;
	text-align: center;
	margin-bottom: 10px;
}

#post_cont {
	height: 400px;
	width: 500px;
	text-align: center;
}

#type_select {
	margin: 10px;
	
}

#submit {
	margin-top: 10px;
	width: 80px;
}

/* Announcements */

#content {
	margin-top: 20px !important;
	margin: auto;
	width: 80%;
	display: block;
}

#content * {}

tbody {
	width: 100%;
	display: block;
}

.announcement {
	margin-top: 40px;
	display: block;
}

.post {
	display: block;
	width: 70%;
}

.post_head {
	display: block;
}

.poster {
	height: 25px;
	border: 1px solid black;
	float: left;
	width: 5%;
	background-color: #333;
	color: white;
	text-align: center;
	display: block;
}

.subject {
	height: 25px;
	border: 1px solid black;
	float: left;
	width: 65%;
	background-color: #333;
	color: white;
	text-align: center;
	display: block;
}

.date {
	background-color: #228B22;
	text-align: center;
	color: white;
	height: 25px;
	display: block;
}

.edit_icon {
	float: right;
	position: relative;
	margin: auto;
	padding-left: 50px;
	top: -25px;
	left: 40px;
	display: block;
}

.edit_icon:hover {
	opacity: 30%;
	cursor: pointer;
}

.message_container {
	display: block
}

.message {
	height: fit-content;
    width: 100%;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    display: block;
    padding: 10px;
}

.comment_section {
	display: none;
}
