/*General CSS*/

head {
	
}

html, body {
	height: 100%;
}

#main {
	display: block;
	transition: 0.5s;
	margin: auto;
	padding-bottom: 200px;
}

/* Tool Bar */

#tools {
	width: 100%;
	margin-top: 40px !important;
	background-color: #333;
	height: fit-content;
	border: 1px solid black;
	text-align: center;
	margin: auto;
}

#create {
	width: 100px;
	color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 20px;
	background-color: #333;
	width: fit-content;
	border: none;
}

#create:hover {
	color: #f2f2f2;
	background-color: #228B22;
	cursor: pointer;
}

#popup {
	display: none;
	margin-top: 20px;
	text-align: center;
	transition: fade-in;
}

#title_label, #post_label {
	color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
	background-color: #333;
	border: none;
}

#title_label {
	padding: 0px 228px;
}

#title, #post_cont {
	margin-top: 0;
}

#title {
	width: 500px;
	text-align: center;
	margin-bottom: 10px;
}

#post_label {
	padding: 0px 208px;
}

#post_cont {
	height: 200px;
	width: 500px;
	text-align: center;
}

textarea, input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#type_select {
	margin: 10px;
	color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
	background-color: #333;
	border: none;
	padding: 0px 228px;
}

#submit {
	margin-top: 10px;
	width: 80px;
	color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
	background-color: #333;
	border: none;
}

#submit:hover {
	color: #f2f2f2;
	background-color: #228B22;
	cursor: pointer;
}

/* Announcements */

#content {
	margin-top: 20px !important;
	margin: auto;
	width: 80%;
	display: block;
}

#content * {}

tbody {
	width: 100%;
	display: block;
}

.announcement {
	margin-top: 40px;
	display: block;
}

.post {
	display: block;
	width: 70%;
}

.post_head {
	display: block;
	margin-top: 50px;
}

.poster {
	height: 25px;
	border: 1px solid black;
	float: left;
	width: fit-content;
	background-color: #333;
	color: white;
	text-align: center;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

.subject {
	height: 25px;
	border: 1px solid black;
	float: left;
	width: 65%;
	background-color: #333;
	color: white;
	text-align: center;
	display: block;
}

.date {
	background-color: #228B22;
	text-align: center;
	color: white;
	height: 25px;
	display: block;
}

.edit_icon_parent {
	height: 0px;
	display: none;
}

.edit_icon {
	float: right;
	position: relative;
	margin: auto;
	padding-left: 50px;
	top: -25px;
	left: 40px;
	display: block;
}

.edit_icon:hover {
	opacity: 30%;
	cursor: pointer;
}

.tick_icon {
	height: 30px;
	width: 30px;
	display: block;
	float: right;
	margin: 1px;
	margin-bottom: 2px;
	border: 0;
	background-image: url("tick_icon.png");
	background-size: 30px;
	background-color: #FFFDD0;
}

.cross_icon {
	height: 25px;
	display: block;
	float: right;
	margin: 5px;
	margin-bottom: 2px;
}

.tick_icon:hover, .cross_icon:hover {
	opacity: 30%;
	cursor: pointer;
}

.tick_icon:hover {
	background: green;
}

.cross_icon:hover {
	background: red;
}

.form_container {
	justify-content: center;
	display: block;
	padding-bottom: 30px;
	padding-bottom: 30px;
}

.sub_label, .mess_label {
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
}

.edit_sub {
	height: 25px;
    border: 1px solid black;
    width: 100%;
    text-align: center;
	display: block;
	margin: auto !important;
}

.edit_mes {
	height: fit-content;
    width: 100%;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    display: block;
    padding: 10px;
	margin-top: 0px !important;
	text-align: center;
	margin: auto;
}

.id_input {
	display: none;
}

.message_container {
	display: block
}

.message {
	height: fit-content;
    width: 100%;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    display: block;
    padding: 10px;
}

.comment_def {
	width: 100%;
	text-align: center;
	display: block;
}

.comment_section {
	display: none;
	height: fit-content;
    width: 90%;
    border: 1px solid black;
	margin-top: 10px !important;
    margin: auto;
    background-color: white;
    padding: 10px;
}

.create_comments{
	width: 100px;
	color: #f2f2f2;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 17px;
	background-color: #333;
	width: fit-content;
	border: none;
	margin-bottom: 10px;
}

.create_comments:hover {
	color: #f2f2f2;
	background-color: #228B22;
	cursor: pointer;
}

.comment_popups {
	display: none;
	margin-top: 10px;
	text-align: center;
	transition: fade-in;
}

.submit_comment {
	margin-bottom: 10px;
	width: 60px;
	color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
	background-color: #333;
	border: none;
}

.submit_comment:hover {
	color: #f2f2f2;
	background-color: #228B22;
	cursor: pointer;
}

.hide_reply {
	display: none;
}

.ccontent {
	width: 50%;
}

.comment_ind {
	margin-top: 10px !important;
	width: 100%;
	margin: auto;
	display: block;
	border: 1px solid black;
	margin-bottom: 10px;
}

.poster_ind {
	height: 25px;
    float: left;
	width: fit-content;
    background-color: #333;
    color: white;
    text-align: center;
    display: table;
	float: left;
	padding-left: 10px;
    padding-right: 10px;
}

.content_ind {
    float: left;
    width: 100%;
	height: fit-content;
    margin: auto;
    background-color: white;
    display: block;
    padding: 10px;
}

.post_date_ind {
	background-color: #228B22;
	text-align: center;
    color: white;
    height: 25px;
    display: table;
	padding-left: 10px;
    padding-right: 10px;
	width: fit-content;
}
