/*General CSS*/

head {
	
}

html, body {
	height: 100%;
}

#main {
	display: block;
	transition: 0.5s;
	margin: auto;
}

/* Tool Bar */

#tools {
	width: 100%;
	margin-top: 40px !important;
	background: white;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	margin: auto;

}

#create {
	width: 100px;
}

#popup {
	display: none;
	margin-top: 20px;
	text-align: center;
	transition: fade-in;
}

#title {
	width: 500px;
	text-align: center;
}

#post_cont {
	height: 400px;
	width: 500px;
	text-align: center;
}

#submit {
	margin-top: 10px;
}

/* Announcements */

#content {
	margin-top: 20px !important;
	margin: auto;
}

#content * {
	display: block;
}

tbody {
	width: 100%;
}

.announcement {
	margin-top: 20px;
}

.subject {
	height: 25px;
	border: 1px solid black;
	float: left;
	width: 70%;
	background-color: #333;
	color: white;
	text-align: center;
}

.date {
	background-color: #228B22;
	text-align: center;
	color: white;
	height: 25px;
}

.message {
	height: fit-content;
    width: 100%;
    border: 1px solid black;
    margin: auto;
    background-color: white;
    display: block;
    padding: 10px;
}
