@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  /*display: flex;*/
  align-items: center;
  padding: 0 16px;
  justify-content: left;
  min-height: 100vh;
  background: #FFFDD0;
}

.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 20px;
}
.calendar ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
}
.calendar .days{
  margin-bottom: 20px;
}
.calendar li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}
.calendar .weeks li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li.event{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active.event::before{
	background: #9B59B6;
	border-radius: 0%;
  }
.days li.active::before{
  background: #9B59B6;
}
.days li.event::before{
  border-radius: 0%;
  background: #228B22;
}
.days li:not(.active):hover::before{
	
  background: #f2f2f2;
}

.eventBar{
	width: 100%;
	border-radius:12px 12px 0 0;
	position: fixed;
	z-index: auto;
	bottom:0;
	background-color: #111;
	overflow:auto;
	transition: 0.5s;
	padding-top: 60px;
	display: none;
}

.eventBar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.eventBar .closebtn
{
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 36px;
  margin-right: 50px;
}

.eventBar a:hover {
  color: #f1f1f1;
}

.editPopup {
	position: relative;
	text-align: center;
	width: 100%;
}

.editPopup .formPopup {
	display: none;
	position: fixed;
	left: 45%;
	top: 5%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
}

.formContainer {
	max-width: 300px;
	padding: 20px;
	background-color: #fff;
}

.formContainer input[type=text]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 20px 0;
	border: none;
	background: #eee;
}

.formContainer input[type=text]:focus {
	background-color: #ddd;
	outline: none;
}

.formContainer input[type=datetime-local] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 20px 0;
	border: none;
	background: #eee;
}

.formContainer input[type=datetime-local]:focus {
	background-color: #ddd;
	outline: none;
}

.formContainer .btn {
	padding: 12px 20px;
	border: none;
	background-color: #8ebf42;
	color: #fff;
	cursor: pointer;
	width: 100%;
	margin-bottom: 15px;
	opacity: 0.8;
}

.formContainer .cancel {
	background-color: #cc0000;
}

.formContainer .btn:hover,
.openButton:hover {
	opacity: 1;
}

.addPopup {
	position: relative;
	text-align: center;
	width: 100%;
}

.addPopup .addFormPopup {
	display: none;
	position: fixed;
	left: 45%;
	top: 5%;
	transform: translate(-50%, 5%);
	border: 3px solid #999999;
	z-index: 9;
}

.Container {
	max-width: 300px;
	padding: 20px;
	background-color: #fff;
}

.Container input[type=text]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 20px 0;
	border: none;
	background: #eee;
}

.Container input[type=text]:focus {
	background-color: #ddd;
	outline: none;
}

.Container input[type=datetime-local] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 20px 0;
	border: none;
	background: #eee;
}

.Container input[type=datetime-local]:focus {
	background-color: #ddd;
	outline: none;
}

.Container .btn {
	padding: 12px 20px;
	border: none;
	background-color: #8ebf42;
	color: #fff;
	cursor: pointer;
	width: 100%;
	margin-bottom: 15px;
	opacity: 0.8;
}

.Container .cancel {
	background-color: #cc0000;
}

.Container .btn:hover,
.openButton:hover {
	opacity: 1;
}

#displayEvent
{
  color: #228B22;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#displayEvent td, #displayEvent th {
	border: 1px solid #ddd;
	padding: 12px 15px;
  }

  #displayEvent thead tr {
    background-color: #0E4732;
    color: #ffffff;
    text-align: left;
}
 
.editButton {
	display: inline-block;
	background-color: #7b38d8;
	padding: 20px;
	width: 200px;
	height: 20px;
	color: #ffffff;
	text-align: center;
	border: 4px double #cccccc; 
	border-radius: 10px; 
	font-size: 16px; 
	cursor: pointer; 
	margin: 5px; 
  }

  .editButton:hover {
	background-color: #87CEEB;
  }